.article-title {
    margin: 15px;
    font-size: 25px;
    text-align: center;
    color: #0088DB;
}
.article-sub-info {
    height: 40px;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    border-top:1px dashed black;
    border-bottom: 1px dashed black;
    margin: 5px 0;
}
.article-sub-info span {
    text-align: center;
    color: #DD3322;
    font-size: 16px;
    flex: 1;
}
.article-body {
    color: #1A1919;
    line-height: 21px;
    font-size: 14px;
    font-family:"Microsoft YaHei";

}
.nextinfo {
    font-size: 16px;
    margin-top: 15px;

}
.nextinfo a {
    color:#0088DB;
}