
* {
    margin: 0;
    padding: 0
}

body {
    font-size:  12px ;
    font-family: "Microsoft YaHei";
    /*color: #756F71;*/
    background: url(../images/jx-1.jpg) no-repeat fixed;
    background-size: 100% 100%;
}
body .container {
    background: rgba(255,255,255,0.95);
    width: 1040px;
    margin: 60px auto 0 auto;
    padding-top: 20px;
}

header {
    position: fixed;
    z-index: 500;
    left: 0;
    top: 0;
    width: 100%;
    height: 80px;
    overflow: hidden;
    background: transparent;
}

nav {
    width: 1040px;
    margin: 0 auto 0 auto;
    text-align: right;
    background: white;

}

nav #logo a {
    width: 310px;
    height: 60px;
    position: absolute;
    margin-top: 5px;
    background: url(../images/logo.png) no-repeat;
    display: block;
}


nav a {
    position: relative;
    display: inline-block;
    font-size: 18px;
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
}

nav a:hover {
    text-decoration: none
}

.topnav a {
    margin: 30px 5px 0 5px;
    padding: 0 8px;
}

.topnav a span:first-child {
    z-index: 2;
    display: block;
}

.topnav a span:last-child {
    z-index: 1;
    display: block;
    color: #999;
    font: 12px Georgia, serif;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    transform: translateY(-100%);
    text-align: center
}

.topnav a:hover span:last-child, .topnav a:focus span:last-child {
    opacity: 1;
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    transform: translateY(0%);
}

#topnav_current {
    color: #e15782;
}


img {
    border: 0;
    display: block
}

ul {
    list-style: none;
}

a:link, a:visited {
    text-decoration: none;
    color: #333;
}

.left {
    float: left;
}

.right {
    float: right;
}

.blank {
    height: 5px;
    overflow: hidden;
    width: 100%;
    margin: auto;
    clear: both
}

.box {
    width: 1000px;
    margin: auto;
    overflow: hidden
}




.en {
    color: #999;
    font-size: 12px;
    z-index: 1;
    display: block;
}

/* ie */
article {
    width: 1000px;
    margin: 20px auto;
    overflow: hidden
}

aside {
    width: 250px;
}

footer {
    text-align: center;
    line-height: 40px;
    border-top: #E8E8E8 1px solid;
    width: 1000px;
    margin: 0 auto;
}

footer p span {
    padding-left: 10px;
    color: #292627;
}

footer p span a {
    color: #292627;
}

.clear {
    clear: both;
}

.banner {
    /*background: url(../images/b2.jpg) no-repeat;*/
    width: 1000px;
    height: 345px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 5px;
    position: relative;
}

.texts {
    width: 350px;
    line-height: 26px;
    margin: 60px 0 0 20px;
    float: left;
    font-size: 14px;
    color: #ff0;
    position: absolute;
    top: 28px;
    left: 97px;
    font-family: "΢���ź�";
}

.texts .p1 {
    font-size: 26px;
    color: #9F6;
}

.texts .p2 {
    font-size: 20px;
    padding: 20px 0px 20px 80px;
}

.texts .p3 {
    font-size: 17px;
    padding-left: 180px;
    color: #7e58ff;
}

.texts p {
    -webkit-transform: translate(60px);
    -moz-transform: translate(60px);
    -o-transform: translate(60px);
    -ms-transform: translate(60px);
    transform: translate(60px);
}

.texts p:nth-child(1) {
    -webkit-animation: animations 3s ease-out 1s backwards;
    -moz-animation: animations 3s ease-out 1s backwards;
    -o-animation: animations 3s ease-out 1s backwards;
    -ms-animation: animations 3s ease-out 1s backwards;
    animation: animations 3s ease-out 1s backwards;
}

.texts p:nth-child(2) {
    -webkit-animation: animations 3s ease-out 4s backwards;
    -moz-animation: animations 3s ease-out 4s backwards;
    -o-animation: animations 3s ease-out 4s backwards;
    -ms-animation: animations 3s ease-out 4s backwards;
    animation: animations 3s ease-out 4s backwards;
}

.texts p:nth-child(3) {
    -webkit-animation: animations2 5s ease-in-out 7s backwards;
    -moz-animation: animations2 5s ease-in-out 7s backwards;
    -o-animation: animations2 5s ease-in-out 7s backwards;
    -ms-animation: animations2 5s ease-in-out 7s backwards;
    animation: animations2 5s ease-in-out 7s backwards;
}

@-webkit-keyframes animations {
    0% {
        -webkit-transform: translate(0);
        opacity: 0;
    }
    50% {
        -webkit-transform: translate(30px);
        opacity: .5;
    }
    100% {
        -webkit-transform: translate(60px);
        opacity: 1;
    }
}

@-moz-keyframes animations {
    0% {
        -moz-transform: translate(0);
        opacity: 0;
    }
    50% {
        -moz-transform: translate(30px);
        opacity: .5;
    }
    100% {
        -moz-transform: translate(60px);
        opacity: 1;
    }
}

@-o-keyframes animations {
    0% {
        -o-transform: translate(0);
        opacity: 0;
    }
    50% {
        -o-transform: translate(30px);
        opacity: .5;
    }
    100% {
        -o-transform: translate(60px);
        opacity: 1;
    }
}

@-ms-keyframes animations {
    0% {
        -ms-transform: translate(0);
        opacity: 0;
    }
    50% {
        -ms-transform: translate(30px);
        opacity: .5;
    }
    100% {
        -ms-transform: translate(60px);
        opacity: 1;
    }
}

@keyframes animations {
    0% {
        transform: translate(0);
        opacity: 0;
    }
    50% {
        transform: translate(30px);
        opacity: .5;
    }
    100% {
        transform: translate(60px);
        opacity: 1;
    }
}

@-webkit-keyframes animations2 {
    0% {
        opacity: 0;
    }
    40% {
        opacity: .8;
    }
    45% {
        opacity: .3;
    }
    50% {
        opacity: .8;
    }
    55% {
        opacity: .3;
    }
    60% {
        opacity: .8;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes animations2 {
    0% {
        opacity: 0;
    }
    40% {
        opacity: .8;
    }
    45% {
        opacity: .3;
    }
    50% {
        opacity: .8;
    }
    55% {
        opacity: .3;
    }
    60% {
        opacity: .8;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes animations2 {
    0% {
        opacity: 0;
    }
    40% {
        opacity: .8;
    }
    45% {
        opacity: .3;
    }
    50% {
        opacity: .8;
    }
    55% {
        opacity: .3;
    }
    60% {
        opacity: .8;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes animations2 {
    0% {
        opacity: 0;
    }
    40% {
        opacity: .8;
    }
    45% {
        opacity: .3;
    }
    50% {
        opacity: .8;
    }
    55% {
        opacity: .3;
    }
    60% {
        opacity: .8;
    }
    100% {
        opacity: 1;
    }
}

@keyframes animations2 {
    0% {
        opacity: 0;
    }
    40% {
        opacity: .8;
    }
    45% {
        opacity: .3;
    }
    50% {
        opacity: .8;
    }
    55% {
        opacity: .3;
    }
    60% {
        opacity: .8;
    }
    100% {
        opacity: 1;
    }
}

h2.title_tj {
    font: 18px "΢���ź�", Arial, Helvetica, sans-serif;
    color: #444;
    font-weight: bold;
    background: url(../images/h_line.jpg) repeat-x 20px center;
}

h2.title_tj span {
    color: #FE5187
}

h2.title_tj p {
    background: #fff;
    width: 90px
}

/*wz*/
.bloglist {
    width: 740px;
    overflow: hidden;
}

.bloglist .wz {
    width: 740px;
    border-bottom: 1px solid #c6ddda;
    padding-bottom: 5px;
}

.wz h3 {
    margin: 8px 0px 4px 2px;
    color: #D6533A;
    font-size: 14px
}

.wz figure {
    float: left;
    width: 183px;
}

.wz figure img {
    padding: 4px;
    border: #f4f2f2 1px solid;
    width: 175px;
    height: 135px;
}

.wz ul {
    float: left;
    width: 510px;
    min-height: 140px;
    position: relative;
    margin: 5px 0px 0 10px;
    line-height: 25px;
}

.dateview {
    width: 695px;
    overflow: hidden;
    clear: both;
    margin: 10px 0 0 0;
    display: inline-block;
    background: #f6f6f6 url(../images/time.jpg) 1px center no-repeat;
    line-height: 26px;
    height: 26px;
    color: #838383;
    padding-left: 8px
}

.dateview span {
    margin: 0 10px;
}

.dateview span a {
    color: #099B43;
}

a.readmore {
    background: #4a8cfd;
    color: #fff;
    padding: 5px 10px;
    margin: 20px 0 0 0;
    border-radius: 3px;
    position: absolute;
    right: 10px;
    bottom: 5px;
}

/*end*/
/*right*/
.my {
    width: 245px;
    border: 1px solid #F3C8A6;
    border-radius: 3px;
}

.my h2 {
    font-size: 16px;
    color: #123;
    border-bottom: 1px solid #ccc;
    margin: 5px 5px 10px 5px;
    padding: 3px 0px 5px 0px;
}

.my h2 span {
    color: #FF3F25;
}

.my img {
    display: block;
    margin-left: 20px;
}

.my ul li {
    padding: 5px 0px 3px 20px;
    line-height: 25px;
}

aside .news h3 {
    font-size: 16px;
    margin: 10px 0;
    font-family: "΢���ź�";
}

aside .news h3 p {
    background: #fff;
    width: 70px
}

aside .news h3 span {
    color: #EE575D;
}

aside .news h3.ph span {
    color: #37ccca;
}

aside .news h3.links span {
    color: #F17B6B;
}

aside .news ul {
    margin-bottom: 20px;
}

aside .news ul li a:hover {
    text-decoration: underline
}

.rank li {
    height: 25px;
    line-height: 25px;
    clear: both;
    padding-left: 5px;
    overflow: hidden;
    padding-left: 15px;
    background: url(../images/li.jpg) no-repeat left center;
    border-bottom: 1px dashed #CCC;
}

.rank {
    margin: 10px 0
}

.rank li a {
    color: #333;
}

.paih {
    background: url(../images/ph.jpg) no-repeat left 8px;
    margin: 10px 0;
}

.paih li {
    line-height: 30px;
    height: 30px;
    overflow: hidden;
    padding-left: 24px;
    border-bottom: 1px dashed #CCC;
}

.website {
    margin: 10px 0;
    background: #F3F3F3;
    border-radius: 50%;
    text-align: center;
}

.website li {
    line-height: 26px;
    text-shadow: #fff 1px 1px 1px;
    height: 26px;
}

.dede_pages {
}

.dede_pages ul {
    float: left;
    padding: 12px 0px 12px 16px;
}

.dede_pages ul li {
    float: left;
    font-family: Tahoma;
    font-size: 16px;
    height: 20px;
    line-height: 20px;
    margin-right: 6px;
    border: 1px solid #dcf;
    border-radius: 4px;
    color: #f0c;
    font-weight: 500;
    text-align: center;
}

.dede_pages ul li a {
    float: left;
    padding: 2px 4px 2px;
    height: 16px;
    line-height: 16px;
    color: #d7594c;
    display: block;
    text-align: center;
    font-weight: 500;
}

.dede_pages ul li a:hover {
    color: #f0c;
    text-decoration: none;
    padding: 2px 4px 0px;
}

.dede_pages ul li.thisclass,
.dede_pages ul li.thisclass a, .pagebox ul li.thisclass a:hover {
    background-color: #F8F8F8;
    font-weight: bold;
    padding: 2px 4px 2px;
}

.dede_pages .pageinfo {
    line-height: 20px;
    height: 20px;
    font-size: 16px;
    padding: 12px 10px 12px 16px;
    color: #999;
}

.dede_pages .pageinfo strong {
    color: #555;
    font-weight: normal;
    margin: 0px 2px;
}


.my-slider {margin:0 20px 0 20px}
.my-slider ul li {
    background-size: 100% 100% !important;
    width: 100%;
}