.bloglist .thumbnail_block {
    width: 235px;
    margin-right: 5px;
    margin-top: 5px;
    display: inline-block;
    height: 200px;
}

.bloglist .thumbnail_block img {
    width: 100%;

}

.bloglist .thumbnail_block h1 {
    width: 100%;
    font-size: 15px;
    color: black;
    font-weight: bold;
    margin-top: 8px;
}

.bloglist .thumbnail_block h2 {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #b4bbbf;
    font-size: 13px;
    margin-top: 5px;
}